* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

.hid {
  display: none;
}

body {
  overflow-x: hidden;
}

.container-fluid {
  display: none;
}

/*.section-2 {
  display: none;
}*/

.largest-div {
  height: 250vh;
  z-index: 0;
}

.another-div {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

/* CSS for 1st Page */

.section-1 {
  position: relative;
}

.main-container-1 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-1 {
  background-color: rgb(92, 19, 160);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-1 {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 10%;
}

.left-container-heading-1 {
  position: absolute;
  text-align: right;
  color: white;
  top: 19%;
  left: 13%;
}

.left-container-heading-1 h1 {
  font-size: 50px;
}

.left-container-heading-1 p {
  font-size: 20px;
}

.svg-image-1 svg {
  background-color: rgb(92, 19, 160);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-1 {
  position: absolute;
  left: 3%;
  bottom: 8%;
}

.description-1 {
  color: white;
}

.description-1 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-1 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-1 img {
  max-width: 280px;
  margin: auto;
}

.skip-1 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-1 {
  background-color: rgb(192, 190, 190);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.right-container-1 img {
  padding-top: 200px;
  width: 330px;
  height: 780px;
}

/* CSS for 2nd Page */

.section-2 {
  position: relative;
}

.main-container-2 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-2 {
  background-color: rgb(61, 40, 180);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-2 {
  display: flex;
  padding-top: 10%;
}

.left-container-heading-2 {
  position: absolute;
  text-align: right;
  color: white;
  top: 18%;
  left: 23%;
}

.the-next-big {
  text-align: left;
}

.left-container-heading-2 h1 {
  font-size: 50px;
}

.left-container-heading-2 p {
  font-size: 20px;
}

.svg-image-2 svg {
  background-color: rgb(61, 40, 180);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-2 {
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.description-2 {
  color: white;
}

.description-2 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-2 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-2 img {
  max-width: 280px;
  margin: auto;
}

.skip-2 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-2 {
  background-color: rgb(19, 4, 104);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-2-img-1 {
  position: absolute;
  padding-top: 250px;
  bottom: 0px;
  left: 42%;
  width: 310px;
  height: 740px;
}

.page-2-img-2 {
  position: absolute;
  top: 0px;
  left: 61%;
  width: 310px;
  height: 480px;
}

/* CSS for 3rd Page */

.section-3 {
  position: relative;
}

.main-container-3 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-3 {
  background-color: rgb(12, 15, 61);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-3 {
  display: flex;
  padding-top: 10%;
}

.left-container-heading-3 {
  position: absolute;
  text-align: right;
  color: white;
  top: 18%;
  left: 23%;
}

.advance {
  text-align: left;
}

.left-container-heading-3 h1 {
  font-size: 50px;
}

.left-container-heading-3 p {
  font-size: 20px;
}

.svg-image-3 svg {
  background-color: rgb(12, 15, 61);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-3 {
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.description-3 {
  color: white;
}

.description-3 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-3 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-3 img {
  max-width: 280px;
  margin: auto;
}

.skip-3 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-3 {
  background-color: rgb(24, 24, 88);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-3-img-1 {
  position: absolute;
  bottom: 0px;
  left: 45%;
  top: 13%;
  width: 260px;
}

.page-3-img-2 {
  position: absolute;
  top: 0px;
  left: 65%;
  width: 260px;
}

/* CSS for 4th Page  */

.section-4 {
  position: relative;
}

.main-container-4 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-4 {
  background-color: rgb(41, 65, 89);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-4 {
  display: flex;
  padding-top: 10%;
}

.left-container-heading-4 {
  position: absolute;
  text-align: right;
  color: white;
  top: 18%;
  left: 23%;
}

.refining {
  text-align: left;
}

.left-container-heading-4 h1 {
  font-size: 50px;
}

.left-container-heading-4 p {
  font-size: 20px;
}

.svg-image-4 svg {
  background-color: rgb(41, 65, 89);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-4 {
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.description-4 {
  color: white;
}

.description-4 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-4 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-4 img {
  max-width: 280px;
  margin: auto;
}

.skip-4 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-4 {
  background-color: rgb(22, 27, 33);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-4-img-1 {
  position: absolute;
  bottom: 0px;
  left: 35.5%;
  top: -3%;
  width: 260px;
}

.page-4-img-2 {
  position: absolute;
  bottom: 0%;
  left: 40%;
  width: 280px;
  height: 500px;
}

.page-4-img-3 {
  position: absolute;
  top: 9%;
  left: 60%;
  width: 250px;
  height: 500px;
}

.page-4-img-4 {
  position: absolute;
  top: 0%;
  right: 10%;
}

.page-4-img-5 {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

/* CSS for 5th Page  */

.section-5 {
  position: relative;
}

.main-container-5 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-5 {
  background-color: rgb(52, 123, 255);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-5 {
  display: flex;
  padding-top: 10%;
}

.left-container-heading-5 {
  position: absolute;
  text-align: right;
  color: white;
  top: 18%;
  left: 23%;
}

.headline {
  text-align: left;
}

.left-container-heading-5 h1 {
  font-size: 50px;
}

.left-container-heading-5 p {
  font-size: 20px;
}

.svg-image-5 svg {
  background-color: rgb(52, 123, 255);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-5 {
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.description-5 {
  color: white;
}

.description-5 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-5 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-5 img {
  max-width: 280px;
  margin: auto;
}

.skip-5 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-5 {
  background-color: rgb(129, 216, 228);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-5-img-1 {
  position: absolute;
  left: 42%;
  top: 0%;
  width: 220px;
}

.page-5-img-2 {
  position: absolute;
  top: 6%;
  left: 57%;
  width: 220px;
  height: 400px;
}

.page-5-img-3 {
  position: absolute;
  top: 18%;
  left: 72%;
  width: 220px;
  height: 400px;
}

.page-5-img-4 {
  position: absolute;
  bottom: 0%;
  left: 57.5%;
  width: 220px;
}

.page-5-img-5 {
  position: absolute;
  bottom: 0%;
  left: 42.5%;
  width: 220px;
}

/* CSS for 6th Page  */

.section-6 {
  position: relative;
}

.main-container-6 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-6 {
  background-color: rgb(30, 7, 160);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-6 {
  display: flex;
  padding-top: 10%;
}

.left-container-heading-6 {
  position: absolute;
  text-align: right;
  color: white;
  top: 18%;
  left: 23%;
}

.the-next-big {
  text-align: left;
}

.left-container-heading-6 h1 {
  font-size: 50px;
}

.left-container-heading-6 p {
  font-size: 20px;
}

.svg-image-6 svg {
  background-color: rgb(30, 7, 160);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-6 {
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.description-6 {
  color: white;
}

.description-6 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-6 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-6 img {
  max-width: 280px;
  margin: auto;
}

.skip-6 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-6 {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../static/images/interior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-6-img-1 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 60vw;
  height: 100vh;
}

/* CSS for 7th Page  */

.section-7 {
  position: relative;
}

.main-container-7 {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container-7 {
  background-color: rgb(44, 119, 66);
  width: 40vw;
  height: 100vh;
}

.left-container-main-content-7 {
  display: flex;
  padding-top: 10%;
}

.left-container-heading-7 {
  position: absolute;
  text-align: right;
  color: white;
  top: 18%;
  left: 26%;
}

.biggest {
  text-align: left;
}

.left-container-heading-7 h1 {
  font-size: 50px;
}

.left-container-heading-7 p {
  font-size: 20px;
}

.svg-image-7 svg {
  background-color: rgb(44, 119, 66);
  left: 27%;
  top: 8%;
  border-radius: 180px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.left-container-sub-content-7 {
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.description-7 {
  color: white;
}

.description-7 h2 {
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 44px;
}

.description-7 p {
  padding-bottom: 1em;
  font-size: 21px;
}

.description-7 img {
  max-width: 280px;
  margin: auto;
}

.skip-7 {
  padding-top: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right-container-7 {
  background-color: rgb(64, 167, 78);
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-7-img-1 {
  position: absolute;
  bottom: 0px;
  left: 62%;
  width: 300px;
}

.page-7-img-2 {
  position: absolute;
  bottom: 0px;
  left: 42%;
  width: 300px;
}

@media only screen and (max-width: 1300px) {
  /* CSS for 1st Page */

  .right-container-1 img {
    padding-top: 170px;
    width: 250px;
    height: 580px;
  }

  .left-container-heading-1 {
    top: 23%;
    left: 17%;
  }

  .left-container-heading-1 h1 {
    font-size: 40px;
  }

  .left-container-heading-1 p {
    font-size: 16px;
  }

  .description-1 img {
    width: 200px;
  }

  .description-1 h2 {
    font-size: 30px;
  }

  .description-1 p {
    font-size: 16px;
  }

  /* CSS for 2nd Page */

  .left-container-heading-2 {
    top: 21%;
    left: 28%;
  }

  .left-container-heading-2 h1 {
    font-size: 40px;
  }

  .left-container-heading-2 p {
    font-size: 16px;
  }

  .description-2 img {
    width: 200px;
  }

  .description-2 h2 {
    font-size: 30px;
  }

  .description-2 p {
    font-size: 16px;
  }

  .page-2-img-1 {
    left: 42%;
    width: 250px;
    height: 640px;
  }

  .page-2-img-2 {
    left: 61%;
    width: 240px;
    height: 400px;
  }

  /* CSS for 3rd page  */

  .left-container-heading-3 {
    top: 20%;
    left: 25%;
  }

  .left-container-heading-3 img {
    width: 220px;
  }

  .left-container-heading-3 p {
    font-size: 20px;
  }

  .description-3 img {
    width: 200px;
  }

  .description-3 h2 {
    font-size: 30px;
  }

  .description-3 p {
    font-size: 16px;
  }

  .page-3-img-1 {
    left: 47%;
    top: 15%;
    width: 210px;
  }

  .page-3-img-2 {
    left: 65%;
    width: 210px;
  }

  /* CSS for 4th Page  */

  .left-container-heading-4 {
    top: 20%;
    left: 20%;
  }

  .left-container-heading-4 img {
    width: 220px;
  }

  .left-container-heading-4 p {
    font-size: 20px;
  }

  .description-4 img {
    width: 200px;
  }

  .description-4 h2 {
    font-size: 30px;
  }

  .description-4 p {
    font-size: 16px;
  }

  /* .page-4-img-1{
        position: absolute;
        bottom: 0px;
        left: 35.5%;
        top: -3%;
        width: 260px;
    } */

  .page-4-img-2 {
    left: 45%;
    width: 185px;
    height: 380px;
  }

  .page-4-img-3 {
    top: 11%;
    left: 63.5%;
    width: 185px;
    height: 380px;
  }

  .page-4-img-4 {
    position: absolute;
    top: 0%;
    right: 10%;
    width: 115px;
  }

  .page-4-img-5 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 200px;
  }

  /* CSS for 5th Page  */

  .left-container-heading-5 {
    top: 20%;
    left: 20%;
  }

  .left-container-heading-5 img {
    width: 220px;
  }

  .left-container-heading-5 p {
    font-size: 20px;
  }

  .description-5 img {
    width: 200px;
  }

  .description-5 h2 {
    font-size: 30px;
  }

  .description-5 p {
    font-size: 16px;
  }

  .page-5-img-1 {
    left: 46%;
    top: 0%;
    width: 160px;
  }

  .page-5-img-2 {
    top: 6%;
    left: 60%;
    width: 160px;
    height: 300px;
  }

  .page-5-img-3 {
    top: 22%;
    left: 74%;
    width: 160px;
    height: 300px;
  }

  .page-5-img-4 {
    position: absolute;
    bottom: 0%;
    left: 60.5%;
    width: 160px;
  }

  .page-5-img-5 {
    bottom: 0%;
    left: 46.5%;
    width: 160px;
  }

  /* CSS for 6th Page  */

  .left-container-heading-6 {
    top: 20%;
    left: 20%;
  }

  .left-container-heading-6 img {
    width: 220px;
  }

  .left-container-heading-6 p {
    font-size: 20px;
  }

  .description-6 img {
    width: 200px;
  }

  .description-6 h2 {
    font-size: 30px;
  }

  .description-6 p {
    font-size: 16px;
  }

  /* CSS for 7th Page  */

  .left-container-heading-7 {
    top: 22%;
    left: 30%;
  }

  .left-container-heading-7 h1 {
    font-size: 40px;
  }

  .left-container-heading-7 p {
    font-size: 16px;
  }

  .description-7 img {
    width: 200px;
  }

  .description-7 h2 {
    font-size: 30px;
  }

  .description-7 p {
    font-size: 16px;
  }

  .page-7-img-1 {
    bottom: 0px;
    left: 62%;
    width: 250px;
  }

  .page-7-img-2 {
    bottom: 0px;
    left: 42%;
    width: 250px;
  }
}

@media only screen and (max-width: 1100px) {
  /* CSS for 1st Page */

  .left-container-heading-1 {
    left: 12%;
    top: 21%;
  }

  .svg-image-1 svg {
    left: 20%;
  }

  .left-container-heading-1 h1 {
    font-size: 35px;
  }

  .left-container-heading-1 p {
    font-size: 17px;
  }

  /* CSS for 2nd Page */

  .page-2-img-1 {
    left: 46%;
    width: 200px;
    height: 580px;
  }

  .page-2-img-2 {
    left: 61%;
    width: 190px;
    height: 310px;
  }

  /* CSS for 3rd Page  */

  .page-3-img-1 {
    left: 49%;
    width: 180px;
  }

  .page-3-img-2 {
    left: 66%;
    width: 180px;
  }

  /* CSS for 4th Page */

  .page-4-img-2 {
    left: 40%;
    width: 170px;
    height: 330px;
  }

  .page-4-img-3 {
    top: 12%;
    left: 60%;
    width: 150px;
    height: 320px;
  }

  .page-4-img-4 {
    position: absolute;
    top: 0%;
    right: 10%;
    width: 80px;
  }

  .page-4-img-5 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 170px;
  }

  /* CSS for 5th Page  */

  .page-5-img-1 {
    left: 50%;
    top: 0%;
    width: 120px;
  }

  .page-5-img-2 {
    top: 6%;
    left: 63%;
    width: 120px;
    height: 240px;
  }

  .page-5-img-3 {
    top: 22%;
    left: 76%;
    width: 120px;
    height: 240px;
  }

  .page-5-img-4 {
    position: absolute;
    bottom: 0%;
    left: 63.5%;
    width: 120px;
  }

  .page-5-img-5 {
    bottom: 0%;
    left: 50.5%;
    width: 120px;
  }

  /* CSS for 7th Page  */

  .page-7-img-1 {
    bottom: 0px;
    left: 57%;
    width: 200px;
  }

  .page-7-img-2 {
    bottom: 0px;
    left: 38%;
    width: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .largest-div {
    display: none;
  }

  .another-div {
    display: none;
  }

  .container-fluid {
    display: block;
  }

  .owl-nav {
    display: none;
  }

  .owl-carousel,
  .owl-item {
    position: inherit;
  }

  .owl-dots {
    position: absolute;
    bottom: 0%;
    left: 10%;
    right: 10%;
  }

  body {
    overflow-y: hidden;
  }

  .owl-carousel {
    padding-left: 0px;
    padding-right: 0px;
  }

  .owl-item {
    height: 100vh;
  }

  .item {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
  }

  .card {
    width: 100vw;
    height: 85vh;
    margin-top: 0px;
  }

  /* CSS For 1st Page Mobile  */

  .first-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(192, 190, 190);
    position: relative;
  }

  .first-page-top img {
    width: 130px !important;
    height: 200px;
    position: absolute;
    bottom: 0%;
  }

  .first-page-top-img-1 {
    left: 15%;
  }

  .first-page-top-img-2 {
    left: 55%;
  }

  .first-page-bottom {
    background-color: rgb(92, 19, 160);
    width: 100vw;
    height: 50vh;
  }

  .first-page-bottom img {
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 20px;
    width: 280px !important;
    height: 110px;
  }

  .first-page-text {
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .first-page-text h3 {
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .first-page-text p {
    font-size: 15px;
  }

  /* CSS for 2nd Page Mobile  */

  .second-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(19, 4, 104);
    position: relative;
  }

  .second-page-top img {
    width: 130px !important;
    height: 200px;
    position: absolute;
  }

  .second-page-top-img-1 {
    left: 15%;
    bottom: 0%;
  }

  .second-page-top-img-2 {
    left: 55%;
    top: 0%;
  }

  .second-page-bottom {
    background-color: rgb(61, 40, 180);
    width: 100vw;
    height: 50vh;
  }

  .second-page-text {
    padding-top: 75px;
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .second-page-text h3 {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .second-page-text p {
    font-size: 15px;
  }

  .second-case-study {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .second-case-study button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: rgb(61, 40, 180);
    background-color: white;
  }

  /* CSS for 3rd page Mobile  */

  .third-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(24, 24, 88);
    position: relative;
  }

  .third-page-top img {
    width: 130px !important;
    height: 200px;
    position: absolute;
  }

  .third-page-top-img-1 {
    left: 15%;
    bottom: 0%;
  }

  .third-page-top-img-2 {
    left: 55%;
    top: 0%;
  }

  .third-page-bottom {
    background-color: rgb(12, 15, 61);
    width: 100vw;
    height: 50vh;
  }

  .third-page-text {
    padding-top: 75px;
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .third-page-text h3 {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .third-page-text p {
    font-size: 15px;
  }

  .third-case-study {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .third-case-study button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: rgb(12, 15, 61);
    background-color: white;
  }

  /* CSS for 4th page mobile  */

  .fourth-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(22, 27, 33);
    position: relative;
  }

  .fourth-page-top img {
    position: absolute;
  }

  .fourth-page-top-img-1 {
    width: 130px !important;
    height: 200px;
    left: 15%;
    bottom: 0%;
  }

  .fourth-page-top-img-2 {
    width: 130px !important;
    height: 200px;
    left: 55%;
    top: 0%;
  }

  .fourth-page-top-img-3 {
    bottom: 0%;
    width: 130px !important;
    height: 90px;
    left: 55%;
  }

  .fourth-page-top-img-4 {
    top: 0%;
    left: 0%;
    width: 80px !important;
    height: 50px;
  }

  .fourth-page-top-img-5 {
    top: 0%;
    right: 0%;
    width: 40px !important;
    height: 20px;
  }

  .fourth-page-top-img-6 {
    top: 37%;
    right: 0%;
    width: 50px !important;
    height: 60px;
  }

  .fourth-page-top-img-7 {
    bottom: 0%;
    right: 0%;
    width: 30px !important;
    height: 40px;
  }

  .fourth-page-bottom {
    background-color: rgb(41, 65, 89);
    width: 100vw;
    height: 50vh;
  }

  .fourth-page-text {
    padding-top: 75px;
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .fourth-page-text h3 {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .fourth-page-text p {
    font-size: 15px;
  }

  .fourth-case-study {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .fourth-case-study button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: white;
    background-color: rgb(24, 24, 88);
  }

  /* CSS for 5th Page Mobile  */

  .fifth-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(129, 216, 228);
    position: relative;
  }

  .fifth-page-top img {
    position: absolute;
  }

  .fifth-page-top-img-1 {
    width: 120px !important;
    height: 150px;
    left: 5%;
    top: 0%;
  }

  .fifth-page-top-img-2 {
    width: 120px !important;
    height: 220px;
    left: 40%;
    top: 0%;
  }

  .fifth-page-top-img-3 {
    width: 110px !important;
    height: 230px;
    right: 0%;
    bottom: 0%;
  }

  .fifth-page-top-img-4 {
    bottom: 0%;
    left: 40%;
    width: 120px !important;
    height: 70px;
  }

  .fifth-page-top-img-5 {
    bottom: 0%;
    left: 5%;
    width: 120px !important;
    height: 150px;
  }

  .fifth-page-bottom {
    background-color: rgb(52, 123, 255);
    width: 100vw;
    height: 50vh;
  }

  .fifth-page-text {
    padding-top: 75px;
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .fifth-page-text h3 {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .fifth-page-text p {
    font-size: 15px;
  }

  .fifth-case-study {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .fifth-case-study button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: white;
    background-color: rgb(24, 24, 88);
  }

  /* CSS for 6th Page Mobile  */

  .sixth-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-image: url("../static/images/interior-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .sixth-page-top img {
    position: absolute;
  }

  .sixth-page-top-img-1 {
    right: 0%;
    bottom: 0%;
    width: 100% !important;
    height: 100%;
  }

  .sixth-page-bottom {
    background-color: rgb(30, 7, 160);
    width: 100vw;
    height: 50vh;
  }

  .sixth-page-text {
    padding-top: 75px;
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .sixth-page-text h3 {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .sixth-page-text p {
    font-size: 15px;
  }

  .sixth-case-study {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  /* CSS for 7th Page Mobile  */

  .seventh-page-top {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
    background-color: rgb(64, 167, 78);
    position: relative;
  }

  .seventh-page-top img {
    width: 130px !important;
    height: 200px;
    position: absolute;
    bottom: 0%;
  }

  .seventh-page-top-img-1 {
    left: 15%;
  }

  .seventh-page-top-img-2 {
    left: 55%;
  }

  .seventh-page-bottom {
    background-color: rgb(44, 119, 66);
    width: 100vw;
    height: 50vh;
  }

  .seventh-page-bottom img {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 20px;
    width: 280px !important;
    height: 125px;
  }

  .seventh-page-text {
    padding-left: 20px;
    width: 95vw;
    color: white;
  }

  .seventh-page-text h3 {
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .seventh-case-study {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
  }

  .seventh-case-study button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: rgb(44, 119, 66);
    background-color: white;
    margin-top: -15px;
  }
}
